.choose {
    svg {
        color: #c28c2e;
        font-size: 18px;
    }
}
.not_choose {
    svg {
        color: #d3d3d3;
        font-size: 18px;
    }
}
.review_tab {
    .review_list {
        margin-top: 2rem;
    }
}