@import "./../../styles/index.scss";
.primary_btn {
    padding: 0.65rem 2rem;
    border: 1px solid #333333;
    border-radius: 5px;
    font-size: 18px;
    background-color: transparent;
    color: #333333;
    font-weight: $font-weight-bold-md;
    &:hover {
        background-color: $color_yellow_primary;
        border: 1px solid $color_yellow_primary;
        color: white;
        transition: all 0.5s ease;
    }
}
@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 992px) {

}
@media screen and (max-width: 768px) {
    .primary_btn {
        padding: 0.75rem 1.5rem;
    }
}
@media screen and (max-width: 576px) {
    .primary_btn {
        padding: 0.5rem 1.25rem;
        font-size: 13px;
    }
}